* {
				margin: 0;
				padding: 0;
				list-style: none;
				font-family: "Î¢ÈíÑÅºÚ";
				font-weight: normal;
			}
			
			a {
				text-decoration: none !important;
				color: #000000 !important;
			}